

  <td><%= link_to friend.first_name, friend %> </td>

  <td><%= link_to friend.last_name, friend %> </td>

  <td><%= friend.email %></td>

  <td><%= friend.phone %></td>

  <td><%= friend.twitter %></td>

  <td><%= friend.user_id %></td>

  <td><%= link_to 'Show', friend %></td>

  <td><%= link_to 'Edit', edit_friend_path(friend) %></td>

  <td><%= button_to 'Destroy', friend, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-secondary" %></td>





<!-- 
<div id="<%= dom_id friend %>" >
  <p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

</div>
-->